.Row {
  --border: 1px solid lightgray;
  padding: var(--padding);
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
}

#buttons > .column:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 50%;
}

#file-name-input .column:nth-child(2) {
  width: 80%;
}

#file-name-input input {
  width: 90%;
}


.Row:first-of-type {
  border-top: var(--border);
}

.Row:last-of-type {
  padding-top: calc(var(--padding) * 3);
  border-bottom: none;
}

.Row:nth-child(even) {
  background-color: #f3f3f3;
}

.Row > column {
  width: 80%;
}

/* name col */
.Row > .column:first-child {
  width: 20%;
}

.Row:hover {
  background-color: #dde5eb;
}
